<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
		
		<title>samfpi</title>

		<link rel="stylesheet" href="static/bootstrap.css">
		<link rel="stylesheet" href="static/style.css">

		<script>
			function rechercher() {
				var recherche = document.getElementById('recherche_fichiers').value;
			  	var fichiers = document.getElementsByClassName('fichier');
			  	for(var i = 0; i < fichiers.length; i++) {
			  		fichiers[i].style.display = 'none';
			  		var nom_fichier = fichiers[i].getElementsByClassName('lien_fichier')[0].innerHTML;
				  	var regex = new RegExp(recherche, 'i');
				  	if (regex.test(nom_fichier)) {
				  		fichiers[i].style.display = 'block';
				  	}
			  	}
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 col-xs-12">
					<center>
						<h1 id="titre_dossier"></h1>
						<script>
							var titre = document.getElementById('titre_dossier');
							var url_page = window.location.href;
							if (/bd\//.test(url_page)) { titre.innerHTML = 'Bandes dessinées'; }
							if (/films\//.test(url_page)) { titre.innerHTML = 'Films'; }
							if (/series\//.test(url_page)) { titre.innerHTML = 'Séries TV'; }
							if (/prive\//.test(url_page)) { titre.innerHTML = 'Zone privée'; }
							if (/autres\//.test(url_page)) { titre.innerHTML = 'Autres fichiers'; }

							function page_precedente() {
								history.go(-1);
							}
						</script>
					</center>
					<p><center>
						<button onclick="page_precedente()" href="#" class="btn btn-primary lien_page">
							<span class="glyphicon glyphicon-arrow-left"></span>
							Page précédente 
						</button>
						<a href="/" class="btn btn-success lien_page">
							<span class="glyphicon glyphicon-home"></span>
							Page d'accueil 
						</a>
					</center></p>
					<p style="padding-top:5px;">
						<input 
							id="recherche_fichiers"
							placeholder="rechercher un fichier"
							onkeyup="rechercher();"
							class="form-control">
						</input>
					</p>
					<% for(var i = 0; i < dossiers.length; i++) { 
						if(!/^\./.test(dossiers[i])) { %>
							<p class="fichier">
								<% if(/\.[a-z0-9]+$/.test(dossiers[i])) { %> <!-- si c'est un fichier --> 
									<a href="dl_<%= dossiers[i] %>" class="btn btn-block btn-default lien_fichier dl_fichier">
								<% } else { %> <!-- si c'est un dossier -->
									<a href="<%= dossiers[i] %>/" class="btn btn-block btn-default lien_fichier dl_dossier">
								<% } %>
								<%= dossiers[i].replace(/_/g, ' ') %></a>
							</p>
						<% }
					} %>
					<script>
						if (/bd\//.test(url_page) || /autres\//.test(url_page)) {
							var liens_telechargement = document.getElementsByClassName('dl_fichier');
							for (var i = 0; i < liens_telechargement.length; i++) {
								var href = liens_telechargement[i].href;
								liens_telechargement[i].href = href.replace(/dl_/g, '');
							}
						}
					</script>
				</div>
				<div class="col-sm-offset-2"></div>
			</div>
		</div>
	</body>
</html>