<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
		
		<title>samfpi</title>

		<link rel="stylesheet" href="static/bootstrap.css">
		<link rel="stylesheet" href="static/style.css">
		<link rel="apple-touch-icon" href="static/icone.png">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 col-xs-12">
					<center>
						<h1>Serveur de Samuel</h1>
					</center>
					<center style="position:relative; top:7px;">
						<div class="alert alert-info">
							Bienvenue ! <br>
							Veuillez choisir le type de média que vous désirez consulter.
						</div>
					</center>
					<div style="position:relative; bottom: 10px;">
						<div class="bouton_accueil">
							<a href="films/" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-film"></span> Films</a>
						</div>
						<div class="bouton_accueil">
							<a href="series/" class="btn btn-block btn-lg btn-info"><span class="glyphicon glyphicon-film"></span> Séries</a>
						</div>
						<div class="bouton_accueil">
							<a href="bd/" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-book"></span> Bandes dessinées</a>
						</div>
						<div class="bouton_accueil">
							<a href="autres/" class="btn btn-block btn-lg btn-default"><span class="glyphicon glyphicon-file"></span> Autres fichiers</a>
						</div>
						<div class="bouton_accueil">
							<a href="prive_mdp" class="btn btn-block btn-lg btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Privé</a>
						</div>
					</div>
				</div>
				<div class="col-sm-offset-2"></div>
			</div>
		</div>
	</body>
</html>