<!DOCTYPE html>
<html>
	<head>
		<script>
			var url_encours = window.location.href;
			var lien_fichier = url_encours.replace('vlc_', '');
			var lien_vlc = 'vlc://' + lien_fichier;
			window.location.assign(lien_vlc);
		</script>
	</head>
	<body>
	</body>
</html>