<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
		
		<title>samfpi</title>

		<link rel="stylesheet" href="static/bootstrap.css">
		<link rel="stylesheet" href="static/style.css">

		<script>
			function page_precedente() {
				history.go(-1);
			}
			function activate_mp4_streaming() {
				if (/.+dl_.+\.mp4$/.test(window.location.href)) {
					document.getElementById("mp4_streaming").style.display = 'block';
				}
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 col-xs-12">
					<center>
						<h1 id="titre_dossier">
							<%= fichier.replace(/_/g, ' ') %>
						</h1>
					</center>
					<p><center>
						<button onclick="page_precedente()" href="#" class="btn btn-primary lien_page">
							<span class="glyphicon glyphicon-arrow-left"></span>
							Page précédente 
						</button>
						<a href="/" class="btn btn-success lien_page">
							<span class="glyphicon glyphicon-home"></span>
							Page d'accueil 
						</a>
					</center></p>
					<center>
						<div class="alert alert-info" style="position:relative; top: 8px;">
							Le bouton "VLC" ne fonctionne que sur les appareils sur lesquels 
							<a href="https://appsto.re/ch/QR_WM.i">VLC mobile</a> 
							est installé.
						</div>
					</center>
					<div id="mp4_streaming" style="display: none">
						<video controls="" autoplay="" name="media" style="max-width: 100%; max-height: 100%;">
							<source src="<%= fichier %>" type="video/mp4">
						</video>
					</div>
					<div class="bouton_accueil" style="position:relative; bottom:2px;">
						<a href="<%= fichier %>" class="btn btn-block btn-lg btn-danger"><span class="glyphicon glyphicon-file"></span> Télécharger</a>
					</div>
					<div class="bouton_accueil" style="padding-bottom: 10px;">
						<a href="vlc_<%= fichier %>" class="btn btn-block btn-lg btn-warning"><span class="glyphicon glyphicon-file"></span> VLC</a>
					</div>
				</div>
				<div class="col-sm-offset-2"></div>
			</div>
		</div>
		<script>activate_mp4_streaming()</script>
	</body>
</html>