<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
		
		<title>samfpi</title>

		<link rel="stylesheet" href="static/bootstrap.css">
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="static/style_forum.css">
		<link rel="stylesheet" href="static/responsive_forum.css">

	<script>
	function login() {
		if(document.getElementById('login_password').value === 'rire4_legato') {
			window.location.assign('prive/');
		} else {
			document.getElementById('form_login_password').className = 'form-group has-error';
			document.getElementById('login_incorrect').style.display = 'inline';
			document.getElementById('bouton_validation').style.position = 'relative';
			document.getElementById('bouton_validation').style.bottom = '20px';
		}
	}

	function verifier_enter(e, form, fonction) {
	// http://stackoverflow.com/questions/14251676/detect-enter-key-pressed-using-javascript
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { // Enter keycode
			fonction();
		}
	}
	</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 col-xs-12">
					<center>
						<div class="alert alert-info" style="margin-top: 20px; margin-bottom: 10px;">
							Vous devez entrer un mot de passe pour accéder à cette page
						</div>
					</center>
					<form class="form-horizontal" style="padding-right:20px;">
						<div class="form-group">
							<h4 class="gros_titre">Mot de passe</h4>
						</div>
						<div class="row">
							<div class="form-group" id="form_login_password">
								<label for="login_password" class="col-lg-3 col-sm-4 control-label">Mot de passe</label>
								<div class="col-lg-9 col-sm-8">
									<input type="text" style="display:none"><!-- il faut au moins un input avant sinon ça plante-->
									<input type="password" class="form-control" id="login_password" onkeypress="verifier_enter(event, this, login);">
									<span class="help-block has-error message_erreur" id="login_incorrect">
										Le mot de passe est incorrect.
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<span class="pull-right btn btn-primary" id="bouton_validation" style="margin-top: -8px; margin-bottom: 16px;" onclick="login();">Valider</span>
						</div>
					</form>
				</div>
				<div class="col-sm-offset-2"></div>
			</div>
		</div>
	</body>
</html>