.bouton_accueil {
	padding-top: 10px;
}
.lien_fichier {
	margin-bottom: -10px;
	padding: 10px;
	text-align: left;
	border: none;
	border-bottom: 1px solid rgb(235,234,241);
	border-radius: 0px; 
}
.lien_fichier:hover {
	text-decoration: underline;

}
.lien_page {
	margin-top: 10px;
	margin-left: 5px;
	margin-right:5px;
}